---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import animation from "@/utils/animations";
import DegreeCard from "@/components/about/DegreeCard.astro";
import type { Degree, Experience, Skill } from "@/types";
import ExperienceEntry from "@/components/about/ExperienceEntry.astro";
import SkillCard from "@/components/about/SkillCard.astro";

const degrees: Degree[] = [
  {
    title: "B.Sc. Computer Engineering",
    image: "/assets/computer.webp",
    when: "2018 to 2020",
    where: "Studied for 4 semesters at HTW Berlin",
    special:
      "Specialization in advanced programming, embedded systems and IT security",
    grade: "Graduated with a final grade of 1.5",
  },
  {
    title: "B.Sc. Business Administration",
    image: "/assets/business.webp",
    when: "2015 to 2018",
    where: "Studied for 5 semesters at FU Berlin",
    special:
      "Specialization in finance, management accounting and business informatics",
    grade: "Graduated with a final grade of 2.0",
  },
];

const experiences: Experience[] = [
  {
    role: "👨‍💻 Web Developer",
    when: "since Feburary 2024",
    where: "Frankfurt",
    company: "byte5 GmbH",
    description: "-",
  },
  {
    role: "👨‍💻 Web Developer",
    when: "Oktober 2023 to January 2024",
    where: "Darmstadt",
    company: "TU Darmstadt",
    description: "-",
  },
  {
    role: "Emergency Medical Technician",
    when: "Oktober 2022 to September 2023",
    where: "Berlin",
    company: "Johanniter e.V.",
    description: "-",
  },
  {
    role: "Teacher",
    when: "March 2022 to September 2022",
    where: "Berlin",
    company: "Intellego GmbH",
    description: "-",
  },
  {
    role: "Repair Technician",
    when: "January 2021 to December 2021",
    where: "Berlin",
    company: "self-employed",
    description:
      "After finishing my studies near the end of 2021, I decided to take a break from IT and make use of my electrical engineering skills. Repairing broken devices (mostly consoles and smartphones) was a challenging but fun endeavour.",
  },
  {
    role: "👨‍💻 System Administration & Support",
    when: "April 2019 to January 2020",
    where: "Berlin",
    company: "HTW Berlin",
    description: "-",
  },
  {
    role: "👨‍💻 Software Development",
    when: "March 2018 to October 2018",
    where: "Berlin",
    company: "prudsys AG",
    description: "-",
  },
];

const skills: Skill[] = [
  {
    field: "Languages 👾",
    description: "Template, styling or programming language? They all go here.",
    fieldSkill: [
      {
        name: "JavaScript",
        icon: "javascript",
        link: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
        color: "#F0DB4E",
        xp: 95,
      },
      {
        name: "HTML",
        icon: "html",
        link: "https://developer.mozilla.org/en-US/docs/Web/HTML",
        color: "#E5532D",
        xp: 90,
      },
      {
        name: "CSS",
        icon: "css",
        link: "https://developer.mozilla.org/en-US/docs/Web/CSS",
        color: "#39ACDD",
        xp: 85,
      },
      {
        name: "TypeScript",
        icon: "typescript",
        link: "https://www.typescriptlang.org/",
        color: "#3178C6",
        xp: 80,
      },
      {
        name: "C#",
        icon: "csharp",
        link: "https://dotnet.microsoft.com/en-us/languages/csharp",
        color: "#ac99ea",
        xp: 75,
      },
      {
        name: "Python",
        icon: "python",
        link: "https://www.python.org/",
        color: "#F7CC42",
        xp: 30,
      },
      {
        name: "Java",
        icon: "java",
        link: "https://www.oracle.com/java/",
        color: "#F58620",
        xp: 25,
      },
    ],
  },
  {
    field: "Frameworks 🏗️",
    description: "The frameworks I've most commonly used over the years.",
    fieldSkill: [
      {
        name: "React",
        icon: "react",
        link: "https://react.dev/",
        color: "#149ECA",
        xp: 90,
      },
      {
        name: "Astro",
        icon: "astro",
        link: "https://astro.build/",
        color: "#761DE9",
        xp: 60,
      },
      {
        name: "Next.js",
        icon: "nextjs",
        link: "https://nextjs.org/",
        color: "#000",
        xp: 50,
      },
      {
        name: "ASP.NET",
        icon: "aspnet",
        link: "https://dotnet.microsoft.com/en-us/apps/aspnet",
        color: "#1587C8",
        xp: 40,
      },
    ],
  },
  {
    field: "Complementary ✨",
    description: "Technology that complements my programming journey.",
    fieldSkill: [
      {
        name: "Tailwind",
        icon: "tailwind",
        link: "https://tailwindcss.com/",
        color: "#38BDF8",
        xp: 95,
      },
      {
        name: "Git",
        icon: "git",
        link: "https://git-scm.com/",
        color: "#F64D27",
        xp: 90,
      },

      {
        name: "Docker",
        icon: "docker",
        link: "https://www.docker.com/",
        color: "#1D63ED",
        xp: 60,
      },
      {
        name: "WordPress",
        icon: "wordpress",
        link: "https://wordpress.org/",
        color: "#ffffff",
        xp: 50,
      },
    ],
  },
];
---

<BaseLayout title="About | Yannik Sahl" description="About Yannik Sahl">
  <div transition:animate={animation} class="stack gap-12">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by! Read below to learn more about myself and my background."
      />

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p class="">
            I like computers, they’re magical. And I like music, it’s the most
            beautiful language I know. Every day I strive to become a little bit
            better at each of them, combining them whenever I can. I also like
            to think that I have an eye for design and aesthetics, as I always
            strive to make the UI/UX as good an experience as I can.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p class="mb-6 sm:mb-8">
            I've completed two Bachelor programs and underwent training to
            become an EMT. For more information about my degrees, click the
            following cards:
          </p>
          <div class="w-11/12 mx-auto flex gap-8 flex-col lg:flex-row">
            {degrees.map((degree) => <DegreeCard degree={degree} />)}
          </div>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p class="mb-6 sm:mb-8">
            This is the tech I most often use in my programming, ranked by
            proficiency:
          </p>
          <div
            class="p-4 bg-[var(--gray-900)] border border-[var(--gray-600)] rounded-3xl shadow sm:p-6 space-y-8"
          >
            {skills.map((skill) => <SkillCard skill={skill} />)}
          </div>
        </div>
      </section>
      <section>
        <h2 class="section-title">Experience</h2>
        <div class="content">
          <p class="mb-6 md:mb-8">
            Here you can read about my career journey so far. While I've worked
            mostly in the IT field, I've been absent from my computer from 2021
            to 2023 working very different jobs and/or travelling.
          </p>
          <ol
            class="relative border-s border-[1px] border-l-2 p-4 rounded-3xl border-[var(--gray-600)] bg-[var(--gray-900)] w-11/12 mx-auto"
          >
            {
              experiences.map((experience) => (
                <ExperienceEntry experience={experience} />
              ))
            }
          </ol>
        </div>
      </section>
      <section>
        <h2 class="section-title"></h2>
        <div class="content">
          <p class="mt-4">
            Well, that's it. You've made it to the very end! Thanks for reading
            🤗
          </p>
        </div>
      </section>
    </main>
    <ContactCTA />
  </div>

  <style>
    .about {
      display: flex;
      flex-direction: column;
      gap: 3.5rem;
    }

    img {
      margin-top: 1.5rem;
      border-radius: 1.5rem;
      box-shadow: var(--shadow-md);
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: var(--gray-200);
    }

    .section-title {
      grid-column-start: 1;
      font-size: var(--text-xl);
      color: var(--gray-0);
      text-transform: capitalize;
    }

    .content {
      grid-column: 2 / 4;
    }

    @media (min-width: 50em) {
      .about {
        display: grid;
        grid-template-columns: 1fr 60% 1fr;
      }

      .about > :global(:first-child) {
        grid-column-start: 2;
      }

      section {
        display: contents;
        font-size: var(--text-lg);
      }
    }
  </style>
</BaseLayout>
