---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import animation from "@/utils/animations";
import DegreeCard from "@/components/DegreeCard.astro";
import type { Degree, Experience } from "@/types";

const degrees: Degree[] = [
  {
    title: "B.Sc. Computer Engineering",
    image: "/assets/computer.webp",
    when: "2018 to 2020",
    where: "Studied for 4 semesters at HTW Berlin",
    special:
      "Specialization in advanced programming, embedded systems and IT security",
    grade: "Graduated with a final grade of 1.5",
  },
  {
    title: "B.Sc. Business Administration",
    image: "/assets/business.webp",
    when: "2015 to 2018",
    where:
      "Studied for 5 semesters at FU Berlin and spent one semester abroad at UNAV in Pamplona, Spain",
    special:
      "Specialization in finance, management accounting and business informatics",
    grade: "Graduated with a final grade of 2.0",
  },
];

const experiences: Experience[] = [
  {
    role: "Software Development",
    when: "10/2023 to 01/2024",
    where: "Darmstadt",
    company: "TU Darmstadt",
    tasks: "",
  },
  {
    role: "Software Development",
    when: "10/2023 to 01/2024",
    where: "Darmstadt",
    company: "TU Darmstadt",
    tasks: "",
  },
  {
    role: "Software Development",
    when: "10/2023 to 01/2024",
    where: "Darmstadt",
    company: "TU Darmstadt",
    tasks: "",
  },
];
---

<BaseLayout title="About | Yannik Sahl" description="About Yannik Sahl">
  <div transition:animate={animation} class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by! Read below to learn more about myself and my background."
      />
      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p class="pb-2">
            Since I can remember I've found computers to be these fascinating,
            ✨magical✨ machines that could do <i>anything</i>. So I studied
            them and learned that actually, they're not all that smart. Still,
            in the hands of the right people they could <i>feel</i> magical.
          </p>
          <p>
            From then on I wanted to become one of those computer wizards too,
            which led me down the path of software development. Over the years
            of sometimes more and sometimes less magical work, I've picked up
            quite a versatile set of skills and experiences that today help me
            fulfill that role the best I ever could. Read more about those below
            ⬇️
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p class="mb-4 sm:mb-8">
            I've completed two Bachelor programs in the following fields (click
            for more info):
          </p>
          {degrees.map((degree) => <DegreeCard degree={degree} />)}
          <p>
            I'm also a qualified E.M.T. which is a skill I picked up in 2022 and
            briefly worked as in 2023.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Experience</h2>
        <div class="content">
          <p>(Work in Progress)</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>(Work in Progress)</p>
        </div>
      </section>
    </main>
    <ContactCTA />
  </div>

  <style>
    .about {
      display: flex;
      flex-direction: column;
      gap: 3.5rem;
    }

    img {
      margin-top: 1.5rem;
      border-radius: 1.5rem;
      box-shadow: var(--shadow-md);
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: var(--gray-200);
    }

    .section-title {
      grid-column-start: 1;
      font-size: var(--text-xl);
      color: var(--gray-0);
      text-transform: capitalize;
    }

    .content {
      grid-column: 2 / 4;
    }

    .content :global(a) {
      text-decoration: 1px solid underline transparent;
      text-underline-offset: 0.25em;
      transition: text-decoration-color var(--theme-transition);
    }

    .content :global(a:hover),
    .content :global(a:focus) {
      text-decoration-color: currentColor;
    }

    @media (min-width: 50em) {
      .about {
        display: grid;
        grid-template-columns: 1fr 60% 1fr;
      }

      .about > :global(:first-child) {
        grid-column-start: 2;
      }

      section {
        display: contents;
        font-size: var(--text-lg);
      }
    }
  </style>
</BaseLayout>
