---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";
import animation from "@/utils/animations";
import WorkNav from "@/components/WorkNav.astro";
import WorkPreview from "../components/WorkPreview.astro";

const design = (await getCollection("design")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
const software = (await getCollection("software")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
const music = (await getCollection("music")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
const scopes = [design, software, music];
---

<BaseLayout
  title="My Work | Yannik Sahl"
  description="Learn about Yannik Sahl's most recent projects"
>
  <div
    id="work"
    transition:animate={animation}
    class="stack gap-20"
    data-scope="design"
  >
    <main class="wrapper stack gap-12 md:gap-8">
      <Hero
        title="My Work"
        tagline="See my most recent projects below to get an idea of my past experience."
        align="start"
      >
        <WorkNav />
      </Hero>
      {
        scopes.map((scope) => (
          <div class={scope[0].collection}>
            <Grid variant="offset" lenItems={scope.length}>
              {scope.map((project) => (
                <li class="fade-in">
                  <WorkPreview project={project} />
                </li>
              ))}
            </Grid>
          </div>
        ))
      }
    </main>
    <ContactCTA />
  </div>
</BaseLayout>

<style>
  #work .music,
  #work .software,
  #work .design {
    display: none;
  }
  #work[data-scope="software"] .software,
  #work[data-scope="music"] .music,
  #work[data-scope="design"] .design {
    display: block;
  }
</style>
