---
import { WorkScopes, type WorkScope } from "@/types";
import type { iconPaths } from "./IconPaths";
import Icon from "./Icon.astro";
import Pill from "./Pill.astro";

export const ScopeIconMap: Record<WorkScope, keyof typeof iconPaths> = {
  design: "brush",
  app: "code",
  experience: "cube",
};
---

<work-nav class="flex pt-4 md:pt-0 items-start sm:items-center gap-4 text-2xl">
  <p contenteditable="text-lg md:text-xl">Filter by:</p>
  <div class="flex gap-2 flex-wrap">
    {
      WorkScopes.map((scope) => (
        <button data-scope={scope}>
          <Pill>
            <Icon icon={ScopeIconMap[scope]} size="1.33em" />{" "}
            {scope.charAt(0).toUpperCase() + scope.slice(1)}
          </Pill>
        </button>
      ))
    }
  </div>
</work-nav>

<script>
  import { isWorkScope, type WorkScope } from "@/types";

  // Initial offsets
  document.addEventListener("DOMContentLoaded", () => {
    const elements = document.querySelectorAll("#work-grid > li");
    elements.forEach((element, index) => {
      if (index % 2 === 1) {
        element.classList.add("offset");
      }
    });
  });

  document.addEventListener("astro:page-load", () => {
    class WorkNav extends HTMLElement {
      constructor() {
        super();

        const work = document.querySelector("#work")!;
        const workGrid = document.querySelector("#work-grid")!;
        const buttons = this.querySelectorAll("button")!;

        // Update grid elements: visibility and offset
        function updateGridElements() {
          const gridElements = workGrid.querySelectorAll("li");

          // Hide all
          gridElements.forEach((element) => {
            element.classList.add("hidden");
          });

          // Update visibility
          gridElements.forEach((element) => {
            element.classList.remove("hidden");
            const style = getComputedStyle(element);
            console.log("display", style.display);
            if (style.display === "none") {
              element.classList.remove("visible");
            } else {
              element.classList.add("visible");
            }
          });

          // Update offset
          const visibleElements = workGrid.querySelectorAll("li.visible");
          visibleElements.forEach((element, index) => {
            if (index % 2 === 1) {
              element.classList.add("offset");
            } else {
              element.classList.remove("offset");
            }
          });
        }

        const setScope = (scope: WorkScope | null) => {
          // Set button and Pill style
          [...buttons].map((button) => {
            // Reset button and pill styles
            button.classList.remove("active");
            button.querySelector("div")?.classList.add("inactive");

            // Get current scope and button scope
            const buttonScope = button.getAttribute("data-scope");
            const currentWorkScope = work.getAttribute("data-scope");

            // If the button we clicked has the desired scope, set styles
            if (scope && buttonScope == scope) {
              // If already active, set to inactive
              if (currentWorkScope == scope) {
                button.classList.remove("active");
                button.querySelector("div")?.classList.add("inactive");
                work.setAttribute("data-scope", "");
              }
              // Else set to active
              else {
                button.classList.add("active");
                button.querySelector("div")?.classList.remove("inactive");
                work.setAttribute("data-scope", scope);
              }
              updateGridElements();
            }
          });
        };

        // Set the scope on button click
        [...buttons].map((button) => {
          button.addEventListener("click", () => {
            const buttonScope = button.getAttribute("data-scope");
            if (buttonScope && isWorkScope(buttonScope)) {
              setScope(buttonScope);
            }
          });
        });

        // Initialize scope state
        const existingScope = document
          .querySelector("#work")
          ?.getAttribute("data-scope");
        if (existingScope && isWorkScope(existingScope))
          setScope(existingScope);
        else setScope(null);
      }
    }
    if (customElements.get("work-nav") === undefined) {
      customElements.define("work-nav", WorkNav);
    }
  });
</script>

<style>
  .active {
    color: var(--gray-0);
  }
</style>
